@page
@model CafeneaSite.Pages.Cafele.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cafea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cafea.ID" />
            <div class="form-group">
                <label asp-for="Cafea.DenumireCafea" class="control-label"></label>
                <input asp-for="Cafea.DenumireCafea" class="form-control" />
                <span asp-validation-for="Cafea.DenumireCafea" class="text-danger"></span>
            </div>

            <!--DROPDOWNLIST PENTRU TIP CAFEA-->
            <div class="form-group">
                <label asp-for="Cafea.TipCafeaID" class="control-label">Tip Cafea</label>
                <select asp-for="Cafea.TipCafeaID" class="form-control" asp-items="ViewBag.TipCafeaID">
                </select>
                <span asp-validation-for="Cafea.TipCafeaID" class="text-danger"></span>
            </div>

            <!--DROPDOWNLIST PENTRU TIP BOABE-->
            <div class="form-group">
                <label asp-for="Cafea.TipBoabeID" class="control-label">Tip Boabe</label>
                <select asp-for="Cafea.TipBoabeID" class="form-control" asp-items="ViewBag.TipBoabeID">
                </select>
                <span asp-validation-for="Cafea.TipBoabeID" class="text-danger"></span>
            </div>

            <!--DROPDOWNLIST PENTRU TIP LAPTE-->
            <div class="form-group">
                <label asp-for="Cafea.TipLapteID" class="control-label">Tip Lapte</label>
                <select asp-for="Cafea.TipLapteID" class="form-control" asp-items="ViewBag.TipLapteID">
                </select>
                <span asp-validation-for="Cafea.TipLapteID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cafea.Pret" class="control-label"></label>
                <input asp-for="Cafea.Pret" class="form-control" />
                <span asp-validation-for="Cafea.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
